* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row
}

#inputBox {
    background-image: url('../img/diner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-top: 20px;
}

.toEat {
    display: flex;
    flex-direction: column;
}

.headingFont {
    font-family: 'Pacifico', cursive;
}

ul {
    list-style-type: none;
}

img {
    max-width: 60px;
}

/* Adding media queries to adjust the image so that it doesn't repeat at small screen sizes */
@media screen and (max-width: 992px) {
    #inputBox {
        background-size: 130%;
    }
}

@media screen and (max-width: 772px) {
    #inputBox {
        background-size: 200%;
    }
}

@media screen and (max-width: 467px) {
    #inputBox {
        background-size: 230%;
    }
}

@media screen and (max-width: 418px) {
    #inputBox {
        background-size: 270%;
    }
}

@media screen and (max-width: 414px) {
    #inputBox {
        background-size: 190%;
    }
}