* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
}

.toEat {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100px;
}